body {
    background-image: url("../images/paper%20(1).png");
}
    
.timerDiv, .questions {
    text-align: center;
    padding: 10px;
}  

.questions p, .displayTimer, .displayScore, #a, #b   {
    font-family: 'Roboto Slab', serif;
}
   
img {
    width: 30%;
    margin: auto;
    display: block;
  
}

button {
    background-color: #ffffff; 
    color:  #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #33adff;
}